
.main-container {
    display: flex;
    flex-direction: column;
}

.main-title-container {
    padding: 10px;
    margin: 5% 10% 0 10%;
    width: 80%;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px 0px lightgray;
    display: flex;
    flex-direction: column;
}

.main-title-container div{
    display: flex;
    justify-content: space-between;
}
.title-container {
    display: flex;
    align-items: center;
}
.title{
    max-width: 20%;
}
.content {
    flex: 1;
    max-width: 75%;
    word-break: break-all;
}

#summary-container {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #efefef;
    border-radius: 20px;
    margin: 5% 10% 0 10%;
    width: 80%;
    box-shadow: 0 0 10px 0px lightgray;
}
#summary-container h1 {
    text-indent: 1em;
}

#read-original{
    color: #4785d7;
}

.topic-modeling-container {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #efefef;
    border-radius: 20px;
    margin: 5% 10% 10% 10%;
    width: 80%;
    box-shadow: 0 0 10px 0px lightgray;

}

#topic-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    position: relative;

}


.topic {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 20px 5px rgba(231, 119, 78, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: move;
    user-select: none;
}
