<div class="main-container">
    <div class="creators">
        <div class="creator">
            <img src="/static/images/developer1.bmp" alt="刘宇昊">
            <h3>刘宇昊</h3>
            <p>项目负责人、全栈工程师、产品总监、测试、运维。负责项目优化、搭建Flask、部署服务器、配置数据库、搭建前端框架、搭建主题模型、编写代码、网页、说明文档等；</p>
        </div>
        <div class="creator">
            <img src="/static/images/developer2.bmp" alt="周洪田">
            <h3>周洪田</h3>
            <p>负责前端网页设计和编写、项目测试等；</p>
        </div>
        <div class="creator">
            <img src="/static/images/developer5.bmp" alt="吴浏宇">
            <h3>吴浏宇</h3>
            <p>参与搭建数据库、主题模型搭建；</p>
        </div>
        <div class="creator">
            <img src="/static/images/developer3.bmp" alt="陈梓博">
            <h3>陈梓博</h3>
            <p>参与服务器搭建、前端网页编写；</p>
        </div>
        <div class="creator">
            <img src="/static/images/developer4.bmp" alt="王浚弛">
            <h3>王浚弛</h3>
            <p>参与网页设计；</p>
        </div>
    </div>
</div>