
<div class="main-container">
    <div class="left-column">
        <h2>文&nbsp;献&nbsp;列&nbsp;表</h2>
        <div id="literature-container"></div>
        <h3 id="remain-container"></h3>
    </div>

    <div class="right-column">
        <div class="slider-container">
            <div class="slider">
                <img src="/static/images/index_pic1.png" alt="Image 1">
                <img src="/static/images/index_pic2.png" alt="Image 2">
                <img src="/static/images/index_pic3.png" alt="Image 3">
            </div>
        </div>

        <div class="chatbot-container">
            <div id="chatbot-window" class="chatbot-window">AI智能文献搜索框
                <div id="chatbot-messages" class="chatbot-messages"></div>
            </div>
            <div class="chatbot-input">
                <input type="text" id="user-input" placeholder="请输入您的问题">
                <button id="send-button">发送</button>
            </div>
        </div>

    </div>
</div>